.img {
  border: 10px;
  width: 500px;
  height: 500px;
}
body {
  background-color: aquamarine;
}
h1 {
  color: blue;
}
h2 {
  color: blue;
}

#pages {
  color: green;
  text-decoration: none;
}
.firstname {
  color: red;
}
.h1 {
  border: 3px #00b344 solid;
}
