.img {
  border: 10px;
  width: 500px;
  height: 500px;
}
body {
  background-color: aquamarine;
}
h1 {
  color: blue;
  
}
h2 {
  color: blue;
}

#pages {
  color: green;
  text-decoration: none;
}
.firstname{
  color: red;
}


.lg{
  font-size: 40px;
}


.tel{
  font-size: 30px;
  font-weight: bold;
  color: blueviolet;
  text-align: right;
}
.number{
  font-size: 40px;
  color: green;
  text-align: center;
}
.email{
  font-size: 50px;
  color: indigo;
  text-align: left;
}


